@import "src/_variables.scss";

.app-activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.app-activity button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 159px;
  height: 54px;
  border: #16ABF8;
  border-radius: 45px;
  padding: 13px 21px 13px 14px;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  @include apply-background-color(primary);
  @include apply-color(text-app-title)
}

.fetch-failed {
  display: none;
}

.fetch-failed-show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure it's on top of other elements */
  transition: ease-in 150ms;
}

.app-activity-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 12px;
}

.activity-item-title {
  height: 100%;
}

.activity-list-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  padding: 8px 12px;
  font-size: 0.85rem;
  border-radius: 24px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  @include apply-background-color(text-app-title);
  
  @include respond-to(sm) {
    width: 232px;
    height: 233px;
    font-size: 1rem;
  }

  @include respond-to(md) {
    padding: 12px 24px;
    width: 236px;
    height: 235px;
  }
}

.activity-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include apply-color(text-grey);
}

