@import "src/_variables.scss";

.app-new-activity {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;

  &-placeholder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;
    align-items: center;
  }

  &-add-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include respond-to(lg) {
      display: block;
      flex-direction: unset;
    }
  }

  @include respond-to(lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.app-new-activity input {
  border: none;
  outline: none;
  background: none;
  width: auto;
  height: 35px;
  font-size: 32px;
  font-weight: 700;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  @include apply-color(text-primary)
}

input::placeholder {
  @include apply-color(text-primary)
}

#titleInput {
  width: 290px;
}

#titleInput:focus {
  width: 290px;
  border-bottom: 1px solid #111111;

  @include respond-to(md) {
    width: 580px;
  }
}

.app-new-activity button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 159px;
  height: 54px;
  border: #16ABF8;
  border-radius: 45px;
  padding: 13px 21px 13px 14px;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  @include apply-background-color(primary);
  @include apply-color(text-app-title)
}

.back-button, .edit-button {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.add-list-dialog {
  display: none;
}

.add-list-dialog-show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure it's on top of other elements */
  transition: ease-in 100ms;
}

.app-list-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 512px;
  gap: 14px;
}

.app-list-item-container input {
  width: 22px;
  height: 22px;
  border: 1px solid #e5e5e5;
}

.app-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 27px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 600;
  border-radius: 14px;
}

.app-list-item-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.app-list-item-right {
  display: flex;
  align-items: center;
}

.todo-done {
  text-decoration: line-through;
  color: #888;
}