@import "src/_variables.scss";

.app-new-activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;

  &-placeholder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;
    align-items: center;
  }
}

.app-new-activity input {
  border: none;
  outline: none;
  background: none;
  width: auto;
  height: 35px;
  font-size: 32px;
  font-weight: 700;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  @include apply-color(text-primary)
}

input::placeholder {
  @include apply-color(text-primary)
}

#titleInput {
  width: 290px;
}

#titleInput:focus {
  width: 580px;
  border-bottom: 1px solid #111111;
}

.app-new-activity button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 159px;
  height: 54px;
  border: #16ABF8;
  border-radius: 45px;
  padding: 13px 21px 13px 14px;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  @include apply-background-color(primary);
  @include apply-color(text-app-title)
}

.back-button, .edit-button {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.add-list-dialog {
  display: none;
}

.add-list-dialog-show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure it's on top of other elements */
  transition: ease-in 100ms;
}
