<div class="app-new-activity">
  <div class="app-new-activity-placeholder">
    <div (click)="onBlur(1)" data-cy="todo-back-button" class="back-button" style="cursor: pointer;">
      <mat-icon svgIcon="back-arrow"></mat-icon>
    </div>
    <input type="text" placeholder="New Activity" (value)="activityDetail.title" matInput [(ngModel)]="activityName"
      id="titleInput" maxlength="32" (blur)="onBlur()">
    <span (click)="onEditClick()" data-cy="todo-title-edit-button" class="edit-button" style="cursor: pointer;">
      <mat-icon svgIcon="edit-button"></mat-icon>
    </span>
  </div>
  <div class="app-new-activity-add-button">
    <button data-cy="todo-add-button" type="button" (click)="onAddClick()">
      <mat-icon svgIcon="plus"></mat-icon> Tambah
    </button>
  </div>
</div>

<div *ngIf="listItems.length == 0" data-cy="todo-empty-state" class="empty-state" (click)="onAddClick()">
  <mat-icon style="width: 541px; height: 413px;" svgIcon="todo-empty-state"></mat-icon>
</div>

<div class="empty-state">
  <div class="app-list-item-container">
    <div *ngFor="let item of listItems; let i = index" data-cy="todo-item" class="app-list-item">
      <div class="app-list-item-left">
        <input data-cy="todo-item-checkbox" type="checkbox" [checked]="item.is_active === 0" (change)="onChecked(item)"
          style="cursor: pointer;">
        <mat-icon data-cy="todo-item-priority-indicator" style="margin-top: 4px; width: 20px; height: 20px;"
          [svgIcon]="item.priority">
        </mat-icon>
        <div data-cy="todo-item-title" class="app-list-item-name" [ngClass]="{'todo-done': item.is_active === 0}">
          {{item.title}}</div>
        <mat-icon data-cy="todo-item-edit-button" svgIcon="edit-button" (click)="onItemEdit(item)"
          style="cursor: pointer;"></mat-icon>
      </div>
      <div class="app-list-item-right">
        <mat-icon data-cy="todo-item-delete-button" svgIcon="delete-icon" (click)="onDeleteClick(item.id, item.title)"
          style="cursor: pointer;">
        </mat-icon>
      </div>
    </div>
  </div>
</div>
