@import "src/_variables.scss";

.alert-success-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    width: 490px;
    padding: 0 24px;
    @include apply-background-color(text-app-title)
}