@import "src/_variables.scss";

.alert-delete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 312px;
    height: 355px;
    padding: 12px;
    font-family: 'Poppins';
    border: 0.5px solid #FFFFFF;
    border-radius: 32px;
    @include apply-background-color(text-app-title);

    @include respond-to(sm) {
        width: 398px;
    }

    @include respond-to(md) {
        width: 490px;
    }
}

.alert-message {
    max-width: 454px;
    text-align: center;
    font-size: 14px;

    @include respond-to(sm) {
        font-size: 18px;
    }
}

.alert-actions {
    max-width: 454px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 24px;

    @include respond-to(sm) {
        flex-direction: row;
        gap: 18px;
    }
}

button {
    width: 150px;
    height: 54px;
    padding: 13px 14px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 32px;

    @include respond-to(sm) {
        font-size: 18px;
    }
}

.button-delete {
    border: 0.5px solid #ED4C5C;
    @include apply-background-color(pill-very-high);
    @include apply-color(text-app-title)
}

.button-cancel {
    border: 0.5px solid #F4F4F4;
    @include apply-background-color(primary-background);
    @include apply-color(text-primary)
}