@import "src/_variables.scss";

.alert-failed {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
    padding-left: 12px;
    width: 320px;
    height: 58px;
    border-radius: 18px;
    font-weight: 600;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    @include respond-to(md) {
        width: 490px;
    }
}