@import "./_variables.scss";

html, body {
  height: 100%; 
}

body { 
  position: relative;
  margin: 0; 
  font-family: Poppins, "Helvetica Neue", sans-serif; 
  @include apply-background-color(primary-background)
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 0.2;
  cursor: auto;
}

h1 {
  margin: 0;
  @include apply-color(text-primary);
}

h2 {
  @include apply-color(text-app-title);
}

.empty-state {
  display: flex;
  justify-content: center;
}

