<div class="dropdown">
  <div class="select" (click)="toggleMenu()">
    <span class="selected">
      <mat-icon style="width: 17px; height: 17px; margin-right: 12px;" [svgIcon]="selectedOption"></mat-icon>
      {{selectedOption}}
    </span>
    <div class="caret">
      <mat-icon svgIcon="expand-button"></mat-icon>
    </div>
  </div>
  <ul class="menu" [ngClass]="{'menu-open': menuOpen}">
    <li *ngFor="let option of options" (click)="selectOption(option)"
      [ngClass]="{ 'active': selectedOption === option }">
      <mat-icon style="width: 17px; height: 17px; margin-right: 12px;" [svgIcon]="option"></mat-icon> {{option}}
    </li>
  </ul>
</div>
