<div data-cy="modal-add" class="modal-add-container">
  <div class="modal-add-header">
    <div data-cy="modal-add-title">{{data?.type == 'add-list' ? 'Tambah List Item' : 'Edit Item'}}</div>
    <div class="close-button-container" (click)="onClose()">
      <mat-icon data-cy="modal-add-close-button" svgIcon="close-button"></mat-icon>
    </div>
  </div>
  <div class="modal-add-content">
    <div class="modal-add-input">
      <label data-cy="modal-add-name-title" for="item-list">NAMA LIST ITEM</label>
      <input data-cy="modal-add-name-input" type="text" placeholder="Tambahkan nama list item" matInput
        [(ngModel)]="listItemName">
    </div>
    <div class="modal-add-priority">
      <label data-cy="modal-add-priority-title">PRIORITY</label>
      <app-pill-dropdown [options]="['Very High', 'High', 'Medium', 'Low', 'Very Low']"
        (optionSelected)="getPriority($event)">
      </app-pill-dropdown>
    </div>
  </div>
  <div class="modal-add-footer">
    <div>
      <button data-cy="modal-add-save-button" type="button" (click)="onSave()" [disabled]="!isAddValid">Simpan</button>
    </div>
  </div>
</div>
